<%-include("partials/header.ejs")%>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/friends">Friends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_transaction">New Transaction</a>
  </li>
  <li class="nav-item">   
    <a class="nav-link" href="/my_profile">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/view_transactions">View Transactions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_card">New Card</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/view_cards">View Cards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
  
<div class="center">
  <br>
  <h2>Bank: <%=bank%></h2>
  <br>
</div>

<h3 class = "text-center">Your transactions: </h3><br>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col"> Status </th>
      <th scope="col">Type</th>
      <th scope="col">Sending</th>
      <th scope="col">Recieving</th>
      <th scope="col">Amount</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>

    <% for(element in transactions) { %>
      <tr>
        <th scope="row"><%=status[element]%></th>
        <td><%=type[element]%></td>
        <td>
          <% if (typeof sendingUsernames != "undefined" && sendingUsernames.length > 0) { %>
          <%=sendingUsernames[element][0].username%> 
            <% } %> </td>
        
        <td>
          <% if (typeof receivingUsernames != "undefined" && receivingUsernames.length > 0) { %>
          <%=receivingUsernames[element][0].username%> 
            <% } %></td> 
        
        <td><%=transactions[element].amount%></td>
        <td>
        <% if(status[element] === "Pending" && type[element] === "Incoming") { %>
  
          <div class="btn-group" role="group">
          <form action="/accept_transaction" method="POST">
            <input type="hidden" name="tid" value="<%=transactions[element].transaction_id%>">
            
            <button type="submit">Accept</button>
          </form>
          
          <form action="/cancel_transaction" method="POST">
            <input type="hidden" name="tid" value="<%=transactions[element].transaction_id%>">
            
            <button class="align_button" type="submit">Decline</button>
          </form>
          </div>
        <% } %>
    
  
      <% if(status[element] === "Pending" && type[element] === "Outgoing") { %>
        <form action="/cancel_transaction" method="POST">
          <input type="hidden" name="tid" value="<%=transactions[element].transaction_id%>">
          
          <button type="submit">Cancel</button>
        </form>
      <% } %> 
      </td>
    </tr>
  <% } %>
  </tbody>
</table>
  
<%-include("partials/footer.ejs")%>