<%-include("partials/header.ejs")%>
  <ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/friends">Friends</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new_transaction">New Transaction</a>
  </li>
  <li class="nav-item">   
    <a class="nav-link" href="/my_profile">My Profile</a>
  </li>
  <li class="nav-item">   
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul>
  <br>

<h3 class = "text-center">Your transactions: </h3><br>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col"> Status </th>
      <th scope="col">Type</th>
      <th scope="col">Sending</th>
      <th scope="col">Recieving</th>
      <th scope="col">Amount</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% for(element in transactions) { %>
    <tr>
      <th scope="row"><%=status[element]%></th>
      <td><%=type[element]%></td>
      <td id = "sending_id"><%=sendingUsernames[element]%></td>
      <td id = "receiving_id"><%=receivingUsernames[element]%></td>
      <!--
      <td id = "sending_id"><%=transactions[element].sending_id%></td>
      <td id = "receiving_id"><%=transactions[element].receiving_id%></td> -->
      <td><%=transactions[element].amount%></td>
      <td>
      <% if(status[element] === "Pending" && type[element] === "Incoming") { %>

        <div class="btn-group" role="group">
        <form action="/accept_transaction" method="POST">
          <input type="hidden" name="tid" value="<%=transactions[element].transaction_id%>">
          
          <button type="submit">Accept</button>
        </form>
        
        <form action="/cancel_transaction" method="POST">
          <input type="hidden" name="tid" value="<%=transactions[element].transaction_id%>">
          
          <button class="align_button" type="submit">Decline</button>
        </form>
        </div>
      <% } %>
  
      <% if(status[element] === "Pending" && type[element] === "Outgoing") { %>
        <form action="/cancel_transaction" method="POST">
          <input type="hidden" name="tid" value="<%=transactions[element].transaction_id%>">
          
          <button type="submit">Cancel</button>
        </form>
      <% } %> 
      </td>
    </tr>
  <% } %>
  </tbody>
</table>
  
<%-include("partials/footer.ejs")%>