<%-include("partials/header.ejs")%>

<% for(element in transactions) { %>
<div>
  <p>
    Sending:
    <%=transactions[element].sending_id%>
    Recieving:
    <%=transactions[element].receiving_id%>
    Amount:
    <%=transactions[element].amount%>
  </p>
</div>
<% } %>
  
<%-include("partials/footer.ejs")%>