<%-include("partials/header.ejs")%>

<% for(element in transactions) { %>
<div>
  <p>
    Status:
    <%=status[element]%>    
    Type: 
    <%=type[element]%>  
    Sending:
    <%=transactions[element].sending_id%>
    Recieving:
    <%=transactions[element].receiving_id%>
    Amount:
    <%=transactions[element].amount%>
  </p>

  <% if(status[element] === "Pending" && type[element] === "Incoming") { %>
    <form action="/accept_transaction" method="POST">
      <input type="hidden" name="tid" value="<%=transactions[element].transaction_id%>">
      
      <button type="submit">Accept</button>
    </form>
  <% } %>
</div>
<% } %>
  
<%-include("partials/footer.ejs")%>